.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    border: 1px solid #c7c7c7;
    transition: transform 0.3s ease-in-out;
}

.sidebartop{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: #6c757d;
    font-weight: 600;
    font-size: 14px;
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(-100%);
}

.titlediv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px 0;
}

.titledivleft{
    display: flex;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #2d3748;
    margin-left: 10px;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.menuButton:hover {
    background-color: #1eff0030;
}

.menutitle {
    font-size: 14px;
    font-weight: bold;
    color: #52585e;
    text-transform: uppercase;
    padding: 10px;
}

.menuitems {
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.menuItem:first-child {
    background-color: #1eff0058;
}

.menuItem:hover {
    background-color: #1eff0030;
}

.menuItem2 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.menuItem2:hover {
    background-color: #1eff0030;
}

.menuItem img {
    margin-right: 10px;
}

.divider {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #ddd;
}

.footer {
    padding: 15px;
    border-radius: 20px;
    height: 24vh;
    text-align: left;
    color: #fff;
    background-color: #004600;
}

.footerP{
}

.upgradeButton {
    background-color: white;
    color: #218838;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

.upgradeButton:hover {
    background-color: #218838;
    color: white;
}
