.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.titlebuttons {
  display: flex;
  gap: 10px; 
}

.titlebuttons button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.titlebuttons button:hover {
  background-color: #00ff003c;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: #fafafa;
    overflow-y: auto;
  }
  
  .card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #80808047;
    text-align: left;
  }
  
  .card:nth-child(-n+4) {
    grid-column: span 3; 
  }
  
  .cardtitle{
    font-size: 16px;
    font-weight: 500;
    color: #5d5d5d;
    margin-bottom: 16px;
  }

  .value {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .cardspan{
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 5px;
  }

  .positive {
    color: green;
    border-radius: 5px;
    background-color: rgba(0, 255, 98, 0.292);
    font-weight: bold;
    padding: 2px 5px;
  }
  
  .negative {
    color: red;
    border-radius: 5px;
    background-color: #ff191940;
    font-weight: bold;
    padding: 2px 5px;
  }
  
  .cardtext{
    color: #999999;
  }

  .chart {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .charttitle{
    font-size: 16px;
    font-weight: 700;
  }

  .chartsubtitle{
    font-size: 14px;
    color: #999999;
    padding: 5px 0;
  }

  .revenue {
    display: flex;
    grid-column: span 8;
    width: 100%;
    max-width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .revenuedata{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .revenuetext{
    font-size: 14px;
    color: #999999;
    padding: 2px 0;
    display: flex;
    gap: 7px;
  }
  
  .revenueitemtitlelogo{
    font-size: 10px;
  }

  .revenueitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .revenueitemtitle{
    font-weight: 500;
  }

  .revenueitembottom{
    display: flex;
    align-items: center;
    gap: 2px;
    line-height: 20px;
  }

  .revenueitemvalue{
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
  }
  .revenueitemdot{
    font-size: 40px;
    font-weight: 600;
    color: #999999;
  }
  

  .country {
    grid-column: span 4;
    /* aspect-ratio: 1/0.8; */
  }
  
  .region,
  .ecommerce,
  .users {
    grid-column: span 4;
    /* aspect-ratio: 1/0.85; */
  }
  
  .chartContent {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }

  .bargraph{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  
  .chartRow {
    display: flex;
    /* align-items: center; */
    gap: 10px;
  }
  
  .chartInfo {
    flex-grow: 1;
  }
  
  .countryName {
    font-weight: 500;
    font-size: 12px;
    color: gray;
  }
  
  .sessionCount,
  .percentage {
    margin-left: 8px;
    font-weight: 600;
    font-size: 13px;
  }
  
  .progressBar {
    height: 8px;
    width: 100%;
    background: #e0e0e0;
    border-radius: 3px;
    margin-top: 4px;
    position: relative;
  }
  
  .progressFill {
    height: 100%;
    background: #07874e;
    border-radius: 3px;
  }
 .responsive-chart {
    width: 100%;
    height: auto;
    min-height: 250px;
  }
  .chartInfoTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .regionchart{
    transform: rotateX(30deg);
  }

  .planDetails{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .planDetailsitem{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  @media (max-width: 1024px) {
    /* .card {
      grid-column: span 6;
    }   */
    .card:nth-child(-n+4) {
      grid-column: span 6; 
    }
    .revenue, .country, .region, .ecommerce, .users {
      grid-column: span 12;
    }
  }
  

 
 